@namespace DrBlazor

<div id="dr-popover-provider"
     class="dr-popover-provider"
     data-dr-popover-provider-visible="@((PopoverSvc!.VisibleElements > 0).ToString().ToLower())"
     @attributes="_attributes">

    @if (PopoverSvc is not null)
    {
        @foreach (var fragment in PopoverSvc.Fragments)
        {
            var element = fragment.Value;

            @if (element.Dismissible && element.Open)
            {
                <div class="dr-overlay" @onclick="@(() => CloseDismissible(element))">
                </div>
            }

            <div @ref="element.Ref"
                 data-dr-popover-id="@element.Id"
                 data-dr-popover-visible="@(element.Open.ToString().ToLower())"
                 data-dr-popover-arrow="@(!element.DisableArrow)"
                 style="position:absolute; width: fit-content;">
                @element.ChildContent
            </div>
        }
    }
</div>